<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
		<title>赛博身份证</title>
		<style type="text/css">
			span {
				text-decoration:overline;
			}
			.mtitle {
				background-color:#ac0c0c;
				color:#ffffff;
				font-weight:900;
			}
			.stitle {
				background-color:#585858;
				color:#ffffff;
				font-weight:900;
			}
			#stdpho {
				display:inline-block;
				width:auto;
			}
			#text {
				display:inline-block;
				vertical-align:top;
			}
			#logs {
				font-weight:900;
			}
		</style>
	</head>
	<body>
		<div class="mtitle">
			<h1>s<sup>2</sup>=1/n[(x<sub>1</sub>-<span>x</span>)<sup>2</sup>+(x<sub>2</sub>-
			<span>x</span>)<sup>2</sup>+...+(x<sub>n</sub>-<span>x</span>)<sup>2</sup>]</h1>
			<p>请记住！这是方差计算式</p>
		</div>
		<div class="mtitle">
			<h2>Mild sunshine has been arriving.</h2>
		</div>
		<div id="stdpho">
			<img src="/images/stdpho.jpg" alt="Std Photo of WenYangshangda." width="640" height="853">
		</div>
		<div id="text">
			<div id="info">
				<div class="stitle">
					<h3>Info</h3>
				</div>
				<p>北京市第六十六中学 高一4班 #15</p>
				<p>温阳尚达</p>
				<p>0000040415</p>
				<p>110***20071010****</p>
			</div>
			<div id="logs">
				<div class="stitle">
					<h3>Logs</h3>
				</div>
				<p>可可爱爱不会算方差捏~而且拒不学习</p>
				<p>严厉批判这种剥削劳动人民的行为！组长不做值日全部推给组员</p>
				<p>啥公式都不背，连t=(2x/g)<sup>1/2</sup>都不知道</p>
			</div>
		</div>
		<div class="mtitle">
			<h2>Gallery</h2>
		</div>
		<div>
			<div class="stitle">
				<h3>Gallery 1</h3>
			</div>
			<img src="/images/gallery1-1.jpg" alt="Gallery1-1 Photo of WenYangshangda." width="427" height="320">
		</div>
		<div>
			<div class="stitle">
				<h3>Gallery 2</h3>
			</div>
			<img src="/images/gallery2-1.jpg" alt="Gallery2-1 Photo of WenYangshangda." width="320" height="427">
			<img src="/images/gallery2-2.jpg" alt="Gallery2-2 Photo of WenYangshangda." width="320" height="427">
			<img src="/images/gallery2-3.jpg" alt="Gallery2-3 Photo of WenYangshangda." width="320" height="427">
			<img src="/images/gallery2-4.jpg" alt="Gallery2-4 Photo of WenYangshangda." width="320" height="427">
		</div>
		<div>
		    <div class="stitle">
		        <h3>Gallery 3</h3>
		    </div>
		    <img src="/images/gallery3-1.png" alt="Gallery3-1 Photo of WenYangshangda." width="900" height="1500">
		</div>
	</body>
</html>